@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Lato');

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family:'Raleway', sans-serif;
	font-weight: 100;
}

body, html{height:100%; font-size:14px; background-color:#FFFFF0;}

/* default stylings */
	h1{
		color:#330004; 
		font-family:'PT Sans Narrow', sans-serif; 
		text-transform: uppercase
	}	
	button[type="button"] {
		background-color: #330004;
		border: none;
		color: #FFFFF0;
		padding:2% 5%;
		margin:5% 0;
		text-align:center;
		text-decoration:none;
		font-size: 1em;
		text-transform: uppercase;
	}

	.image-container > img { width:100%; height:auto;}
	.about-section, .jumbo-child{
		display:inline-flex;
	}
	.flex-container{
		width:50%;
		justify-content: space-around;
	}
	

/* home section stylings */
	.main-section{
		width:100%;
		height: 100%; 
		background:url("../images/adult-application-asian-733856.jpg") no-repeat center;
		background-size: cover;
	}
	/* header stylings */
		.logo-container{
			width:100%;
			height:5%;
			padding: 1% 0;
			text-align:center;
			text-transform: uppercase;
			font-size:32px;
		}
		.logo-container > h1 {font-family: 'Lato', sans-serif;}
		/* Jumbotron's styling */
			.jumbotron{
				width:70%;
				height:95%;
				margin:0 auto;
				text-align:center;
			}
			/* Jumbotron's child styling */
				.jumbo-child{
					margin:15% auto 0;
					padding: 2% 5%;
					color:#FFFFF0;
					background-color: rgba(0, 0, 0, 0.75);
					text-align:center;
				}
				.jumbo-child h1{
					color:#FFFFF0;
					text-transform: uppercase;
					letter-spacing:0.3em;
					line-height:2;
					padding: 2% 0;
					font-size:2em;
				}
				.jumbo-child p{
					width:70%;
					margin:0 auto;
					letter-spacing: 0.1em;
					line-height:1.618;
					padding: 2% 0;
					color:#FFFFF0;
					font-size:0.8em;
				}

				/* Arrow styling */
					.arrow {
						width:75px;
						height:75px;
						margin:10% auto;
						border-radius:100px;
						background-color:#FFFFF0;
						box-shadow: 
							0 3px 6px rgba(0, 0, 0, 0.36),
							0 3px 6px rgba(0, 0, 0, 0.36),
							0 3px 6px rgba(0, 0, 0, 0.36),
							0 3px 6px rgba(0, 0, 0, 0.36);
					}
					.arrow > i{
						margin-top:7px;
						font-size:60px;
					}

					/* For bounce animation */
						.bounce {
						  animation: bounce 2s infinite;
						}

						@keyframes bounce {
						  0%, 20%, 50%, 80%, 100% {
						    transform: translateY(0);
						  }
						  40% {
						    transform: translateY(-30px);
						  }
						  60% {
						    transform: translateY(-15px);
						  }
						}

/* About section stylings */
	.about-section{
		width:100%;
		padding: 5% 0;
		text-align: center;
	}
	.about-section img{
		border-radius:100%;
	}
	.about-section h1{
		font-size:2em;
		color:#999;
		letter-spacing:5px;
		margin: 5% 0;
	}
	.about-section p{
		font-weight:normal;
		text-align:justify;
		line-height: 1.618;
		margin:5% auto;
	}

	/* Left Container */
		.about-left-container{
			margin: 0 auto;
			color:#330004;
		}
		.about-left-container > .image-container{
			width:150px; 
			margin: 0 auto ;
		}
		.about-left-container p{
			width:80%;
		}

	/* Right Container */
		.about-right-container{
			margin: 0 auto;
		}

		.blog-post-container{
			display: inline-flex;
		}
		.post-container{
			max-width:300px;
			background: white;
			border:solid black 1px;
			margin: 0 3%;
			padding: 1% 3%;
		}

		.about-right-container .image-container{
			width:125px;
			height:auto;
			margin: 25px auto;
		}
		.post-container h1{
			font-size:1.25em;
		}
		.post-container .author-info{
			font-size:0.75em;
			color:#999;
		}
		.post-container .post-summary{
			font-size:0.75em;
			color:#330004;
		}
		.post-container button{
			font-size:0.75em;
		}

/* Footer section stylings */
	.footer-section > footer{
		font-size:1.25em;
		display:flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center;
	}

	.footer-section > footer i{
		padding:0 5px;
	}
