@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family:'Raleway', sans-serif;
	font-weight: 100;
	text-align: center;
}
html{scroll-behavior: smooth;}

body, html{height:100%; font-size:14px; background-color:#FFFFF0;}

/* default stylings */
	h1{
		color:#330004; 
		font-family:'PT Sans Narrow', sans-serif; 
		text-transform: uppercase;
		font-weight:700;
	}	
	button[type="button"] {
		background-color: #330004;
		border: none;
		color: #FFFFF0;
		padding: 2% 5%;
		margin: 5% 0;
		text-align:center;
		text-decoration:none;
		font-size: 1rem;
		text-transform: uppercase;
	}
	.hidden{
		display:none;
		border: 0;
		height: 2px;
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255,255,255,0.5), rgba(0,0,0,0));
	}
	.image-container > img { width:100%; height:auto;}
	.flex-parent{
		width:100%;
		display:inline-flex;
	}
	.flex-container{
		width:50%;
		justify-content: space-around;
	}
	

/* home section stylings */
	.main-section{
		height: 100%; 
		background: linear-gradient(
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5)
			), 
			url("../images/adult-application-asian-733856.jpg");
		background-position: center;
  		background-repeat: no-repeat;
  		background-size: cover;
	}
	.home-container{
		height:95%;
		padding: 3% 0;
		justify-content:space-between;
		flex-direction: column;
	}
	/* header stylings */
		.logo-container{
			width:100%;
			text-transform: uppercase;
			font-size:2rem;
			justify-content: space-around;
		}
		.logo-container > h1 {
			font-family: 'Lato', sans-serif; 
			color:#FFFFF0;
			font-size:2rem;
		}
		.logo-container > hr{
			margin-top: 3%;
			display: flex;
		}
		/* Jumbotron's styling */
			.jumbotron{
				width:70%;
				max-width:800px;
				margin: 0 auto;
			}
			/* Jumbotron's child styling */
				.jumbo-child{
					justify-content: space-around;
					color:#FFFFF0;
					/*background-color: rgba(0, 0, 0, 0.5);*/
					text-align:center;
				}
				.jumbo-child > .flex-container{
					width:100%;
				}
				.jumbo-child h1, .jumbo-child p{
					color:#FFFFF0;
					padding: 2% 0;
				}
				.jumbo-child h1{
					text-transform: initial;
					letter-spacing:0.1em;
					line-height:2;
					font-size: 3rem;
				}
				.jumbo-child p{
					width:70%;
					margin:0 auto;
					letter-spacing: 0.1em;
					line-height:1.618;
					font-size:0.9em;

/*
					display: none;*/
				}
				.jumbo-child button {
					margin: 3%;
					/*border: 1px solid #FFFFF0;*/
					border-radius: 10px;
					background: #FFFFF0;
					color: #330004;
					/*background: linear-gradient(to right, transparent 50%, #330004 50%);
					background-position: left bottom;
					background-size: 200% 100%; */
					transition: all 0.25s ease;
				}
				.jumbo-child button:hover{
					background-color:  #330004;
					color:#FFFFF0;
					/*background-position: right bottom;*/
				}
			/* Arrow styling */
				.arrow-container{ 
					margin: -2% auto; 
				}
				.arrow {
					width: 60px;
					height: 60px;
					margin: 0 auto;
					border-radius:100px;
					background-color:#FFFFF0;
					box-shadow: 
						0 3px 6px rgba(0, 0, 0, 0.36),
						0 3px 6px rgba(0, 0, 0, 0.36),
						0 3px 6px rgba(0, 0, 0, 0.36),
						0 3px 6px rgba(0, 0, 0, 0.36);
				}
				.arrow > a{
					display:block;
					text-decoration: none;
					color:#330004;
				}
				.arrow i{
					margin-top:10px;
					font-size:3.0rem;
				}

				/* For bounce animation */
					.bounce {
					  animation: bounce 2s infinite;
					}

					@keyframes bounce {
					  0%, 20%, 50%, 80%, 100% {
					    transform: translateY(0);
					  }
					  40% {
					    transform: translateY(-30px);
					  }
					  60% {
					    transform: translateY(-15px);
					  }
					}

/* About section stylings */
	.about-section{
		width:100%;
		max-width:1400px;
		padding: 5% 0;
		margin:0 auto;
	}
	.about-section img{
		border-radius:100%;
	}
	.about-section h1{
		font-size:2em;
		color:#999;
		letter-spacing:5px;
		margin: 5% 0;
	}
	.about-section p{
		font-weight:normal;
		text-align:justify;
		line-height: 1.618;
		margin:5% auto;
	}
	.about-left-container, .about-right-container{
		margin: 0 auto;
	}
	/* Left Container */
		.about-left-container{
			/*margin: 0 3%;*/
		}
		.about-left-container > .image-container{
			width:150px; 
			margin: 0 auto;
		}
		.about-left-container p{
			
		}

	/* Right Container */
		.about-right-container{
			/*margin:0 3%;*/
		}

		.blog-post-container{
			width:100%;
			max-width: 650px;
			display: inline-flex;
			justify-content: space-between;
		}
		.post-container{
			max-width: 300px;
			background: white;
			border:solid black 1px;
			padding: 1% 3%;
		}

		.about-right-container .image-container{
			width:125px;
			height:auto;
			margin: 25px auto;
		}
		.post-container h1{
			font-size:1.25em;
		}
		.post-container .author-info{
			font-size:0.75em;
			color:#999;
		}
		.post-container .post-summary{
			font-size:0.75em;
			color:#330004;
		}
		.post-container button{
			font-size:0.75em;
		}

/* Footer section stylings */
	.footer-section{
		padding:1% 0;
	}

	.footer-section > hr{
		display:block;		
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(20,0,2,0.5), rgba(0,0,0,0));
		margin: 1% auto;
	}
	.footer-section > footer{
		width:80%;
		font-size:1.1em;
		margin:0 auto;
		display:flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center;
	}

	.footer-section > footer i{
		font-size:1.5em;
		padding:0 5px;
	}



@media screen and (max-width:1440px){
	.jumbo-child h1{
		font-size:1.75em;
	}
	.jumbo-child p{
		width:85%;
		font-size:0.75em;
		letter-spacing:0.08em;
		font-weight:100;
	}
	.about-left-container{
		width:40%;
	}
	.blog-post-container{
		max-width:600px;
	}
	.post-container{
		max-width:260px;
	}
}

@media screen and (max-width: 1200px){
	.blog-post-container{
		max-width: 550px;
	}
	.post-container{
		max-width:250px;
	}
}

@media screen and (max-width:1024px){
	.about-section{
		width:100%;
	}
	.blog-post-container{
		width:100%;
		justify-content: space-between;
	}	
	.about-section{
		padding-bottom:7.5%;
		flex-direction: column;
	}
	.about-left-container, .about-right-container{
		width:90%;
		margin: 0 auto;
		padding:0;
	}
	.about-left-container p {
		width:90%;
		margin:0 auto;
	}
	.post-container{
		max-width:275px;
	}
	.blog-post-container{
		max-width: 600px;
		justify-content: space-around;
	}
}

@media screen and (max-width: 768px){
	.post-container{

	}
	.footer-section > footer{
		width:85%;
		font-size:0.9em;
		flex-flow: column-reverse wrap;
	}

	.footer-section > footer i{
		font-size: 2.5em;
		padding:10% 15px;
	}
}
@media screen and (max-width:650px){
	button[type="button"]{
		margin: 2% 0;
	}

	.hidden{
		display: block;
	}
	.jumbotron{
		width:85%;
	}
	.jumbo-child{
		flex-flow: column wrap;
	}
	.jumbo-child > .flex-container{
		padding: 1%;
	}
	.arrow{
		width:50px;
		height:50px;
	}
	.arrow i{
		font-size:2.5rem;
	}
	.about-left-container p {
		width:70%;
	}

	.blog-post-container{
		flex-flow:column wrap;
	}
	.post-container{
		margin:5% auto;
	}

}
@media screen and (max-width: 425px){
	button[type="button"]{
		margin: 5% 0;

	}
	.about-section h1{
		letter-spacing: 3px;
	}
}

@media screen and (max-width:320px){
	.logo-container > h1{
		font-size:2.5rem;
	}

	.jumbo-child h1{
		line-height:1.314;
	}
	.jumbo-child p{
		line-height:1.314;
	}
}