@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Lato');

*{
	margin:0;
	padding:0;
	font-family:'Raleway', sans-serif;
}

body, html, .main-section {
	height:100%;
	font-size:16px;
}

.jumbotron{
	height: 100%; 
	background:url("../images/adult-application-asian-733856.jpg") no-repeat center;
	background-size: cover;
}

.logo-container{
	width:100%;
	text-align:center;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
}