/* Site Stylesheet
  1. Global Styles
  2. Typography Styles
  3. Structure Styles
  4. Module Styles
  5. Component Styles
  6. Page Styles
======================================== */
/* 
color library
	Monochromatic:
		#0D1C32 - dark navy blue
		#627FB0 - slate blue
		#F5F9FF - very light 
	Analougus Color Scheme:
		#60B3BD - teal


*/


/* 1. Global Styles
======================================== */

@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:200,300,500,600');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family:'Raleway', sans-serif;
	font-weight: 100;
	text-align: center;
}
html{scroll-behavior: smooth;}

body, html{height:100%; font-size:14px; background-color:#FFFFF0;}

/* 1. Typography Styles
======================================== */
	h1{
		color:#FFFFF0;
		font-family:'PT Sans Narrow', sans-serif; 
		text-transform: uppercase;
		font-weight: 600;
		line-height:1.618;
		font-size: 6.5vw;
		letter-spacing: 0.15vw;
	}	
	p{
		color:#FFFFF0;
		font-family:'Raleway', sans-serif;
		font-weight: 300;
		font-size: 3.0vw; 
	}
	button[type="button"], button[type="submit"] {
		background-color: #330004;
		border: none;
		border-radius: 3px;
		margin: 3%;
		padding: 3.75% 7.5%;
		
		color: #FFFFF0;
		text-transform: uppercase;
		font-size: 3vw;
		font-weight:400;
		text-align: center;
		text-decoration:none;

		cursor: pointer;
	}
	
	a{
		display:block;
		text-decoration: none;
		color:inherit;
	}

	hr{
		border: 0;
		height: 2px;
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255,255,255,0.5), rgba(0,0,0,0));
	}
	.image-container > img { width:100%; height:auto;}
	
	.flex-parent{
		width:100%;
		display:inline-flex;
	}
	.flex-container{
		justify-content: space-around;
	}
	

/* home section stylings */
	.main-section{
		height: 100%; 
		background: linear-gradient(
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5)
		), url("../images/adult-application-asian-733856.jpg");
		background-position: center;
  		background-repeat: no-repeat;
  		background-size: cover;
	}
	.home-container{
		height: 100%;
		justify-content: space-between;
		flex-direction: column;
		padding:0 5%;
	}
	/* header stylings */
		.header-container{
			width:100%;
			flex-direction: column;
			color:#FFFFF0;
		}
		.logo-container{
			margin: 0 auto;
			text-transform: uppercase;
			font-size: 2vw;
			justify-content: space-around;
		}
		.logo-container > h2 {
			font-family: 'Lato', sans-serif; 
			font-size: 5vw;
			padding: 2% 0 4%;
			letter-spacing:1rem;
			color: inherit;
		}
		
		.navbar-container{
			width:100%;
			margin: 0 auto;
		}
		.navbar-container > ul{
			list-style: none;
		}
		.navbar-container > ul > li{
			width: 100%;
			font-size: 3.5vw;
			font-weight: 700;
			line-height: 1.618;
			text-transform: uppercase;
			padding: 0 1%;
			transition: color 0.2s ease-in;
		}
		.navbar-container > ul li:hover{
			color:#D1D1C5;
			
		}
		.navbar-container > hr{
			margin-top: 1.5%;
		}
		/* Jumbotron's styling */
			.jumbotron{
				width:100%;
				max-width:1600px;
				margin: 0 auto;
			}
			/* Jumbotron's child styling */
				.jumbo-child{
					justify-content: space-around;
					color:#FFFFF0;
					text-align: center;
				}

				.jumbo-child h1, .jumbo-child p{
					padding: 2%;
				}
				.jumbo-child h1{
					font-family:'Helvetica';
				}
				.jumbo-child p{
					width:100%;
					margin:0 auto;
					letter-spacing: 0.1em;
					line-height:1.618;

					/*display: none;*/
				}
				.jumbo-child button {
					background: #FFFFF0;
					color: #330004;
					transition: all 0.25s ease;
				}
				.jumbo-child button:hover{
					background-color:  #330004;
					color:#FFFFF0;
				}
			/* Arrow styling */
				.arrow-container{ 
					margin: 2% auto; 
				}
				.arrow {
					width: 12vw;
					height: 12vw;
					margin: 0 auto 10px;
					border-radius:100px;
					background-color:#FFFFF0;
					box-shadow: 
						0 3px 6px rgba(0, 0, 0, 0.36),
						0 3px 6px rgba(0, 0, 0, 0.36),
						0 3px 6px rgba(0, 0, 0, 0.36),
						0 3px 6px rgba(0, 0, 0, 0.36);


					  animation: bounce 2s infinite;
				}					
				@keyframes bounce {
					0%, 20%, 50%, 80%, 100% {
						transform: translateY(0);
					}
					40% {
						transform: translateY(-10px);
					}
					60% {
						transform: translateY(-2px);
					}
				}

				.arrow i{
					margin-top: 8px;
					font-size: 8vw;
				}



/* About section stylings */
	.about-section{
		width:100%;
		background:#330004;
		margin:0 auto;
	}
	.about-container{
		padding: 5% 0;
		max-width:1400px;
		
		color: #E8E8DB;
	}
	.about-section img{
		border-radius:100%;
	}
	.about-section p{
		font-weight:normal;
		text-align:justify;
		line-height: 1.618;
		margin:5% auto;
	}
	.about-container, .blog-container{
		margin: 0 auto;
	}
	/* Left Container */
		.about-container{
			width:100%;
			align-items: center;
		}
		.about-container > .image-container{
			width:250px; 
			margin: 0 auto;
		}
		.about-container p{
			
		}

/* Right Container *//*PEN STYLES*/
.blog-section{
	width:100%;
}
.blog-container{
	width:80%;
	padding: 5% 0;
}
.blog-container > .flex-parent{
	margin: 5% auto 0;
	justify-content: space-evenly;
}
.card-container{
	width:30%;
	min-height:400px;
}
.blog-card{
	background:#fff;
	min-height:100%;
	margin: 0 5%;

	box-shadow:
		2.5px 2.5px 15px #EEE,
		-2.5px -2.5px 15px #EEE,
		2.5px -2.5px 15px #EEE,
		-2.5px 2.5px 15px #EEE;
}

.blog-content{
	padding: 3% 3% 5%;
}
.blog-content > h1{
	margin: 2% 0 2%;
	text-align: left;
	font-weight: 600;
}
.blog-content > p{
	font-weight: 100;
	text-align: left;
	font-size:1em;
	margin: 0 0 2%;
}
.blog-content > p.description{
	margin: 1% 0 2%;
	max-width: 250px;
	max-height: 110px;
	min-height:110px;
	line-height: 1.3;
	overflow-wrap: break-word;
	overflow: hidden;
	font-weight:300;
}
.blog-content > p.read-more{
	text-align: right;
	margin-top:12%;
	font-weight: 200;
	transition: all ease 0.1s;
}

p.read-more:hover{
	font-weight:400;
}

/* Contact Form */
	.contact-section{
		width:100%;
		background: #330004;
	}
	.contact-container{
		padding:5% 0;
		width: 50%;
		margin: 0 auto;
	}

	.contact-container > .contact-form {
		max-width:500px;
		min-height: 250px;
		margin-top: 5%;
		justify-content: center;
		flex-direction:column;
	}
	.contact-form > .flex-parent{
		padding: 5% 0 10%;
	}

	.contact-form > .contact-btn {
		padding-bottom: 0;
	}
	.contact-form .form-field{
		position:relative;
		width:50%;
		margin: 0 5%;
	}
	.contact-form .col-100{
		width:100%;
	}
	.form-field > input {
		width: 100%;
		height: 36px;
		border: none;
		border-bottom: 2px solid #8C8C83;
		font-size: 18px;
		line-height: 26px;
		background: transparent;
		font-weight: 400;
		text-align: left;
		color:#FFFFF0;
		transition: 0.2s ease border-bottom;
	}
	.col-100 > input {
		width: 100%;
	}
	.contact-form input:focus{
		border-bottom: 3px solid #fffff0;
		outline: none;
	}
	.form-field label{
		position: absolute;
			left:5px;
			bottom: 8px;
		font-family: Lato, serif;
		font-size: 18px;
		line-height: 26px;
		font-weight: 400;
		color: #888;
		cursor: text;  
		pointer-events:none;

		transition: 0.2s ease all;
	}
	/*.contact-form input:focus ~ label {
		top:20px;
	}*/
	.form-field > input:focus ~ label, 
	.form-field > input:not(:placeholder-shown) ~ label/*, 
	.form-field > input:required ~ label*/{
	  top:-18px;
	  left:0;
	  font-size:14px;
	  color:#B8B88E;
	}

	.form-field button{
		width:100%;
		height:100%;
		margin:0;
		border-radius: 10px;
		background: #FFFFF0;
		color: #330004;
		transition: all ease 0.25s;
	} 
	.form-field button:hover{
		background:#E8E8DB;
		color: #2F0004;
	}
/* Footer section stylings */
	.footer-section{
		background:#330004;
		/*padding: 1% 0;*/
		color:#8C8C83;
	}

	.footer-section > hr{
		display: block;		
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(93,93,93,0.5), rgba(0,0,0,0));
		margin: 0 auto 1%;
	}
	.footer-section > footer{
		width:80%;
		font-size:1.1em;
		margin:0 auto;
		display:flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center;
	}

	.icons-container{
		justify-content: flex-end;
		align-items:center;
	}
	
	.icons-container i{
		font-size:1.5em;
		padding:0 10px;
		color:;
		transition: color 0.3s linear;
	}
	.icons-container i:hover{
		color:#BBB;
	}


/*@media screen and (max-width:1440px){
	.jumbo-child h1{
		font-size:2.5em;
	}
	.jumbo-child p{
		width:85%;
		font-size:1em;
		letter-spacing:0.08em;
		font-weight:100;
	}
	.about-container{
		width:80%;
	}
	.blog-post-container{
		max-width:600px;
	}
	.post-container{
		max-width:260px;
	}
}

@media screen and (max-width: 1200px){
	.blog-post-container{
		max-width: 550px;
	}
	.post-container{
		max-width:250px;
	}
}

@media screen and (max-width:1024px){
	.about-section{
		width:100%;
	}
	.blog-post-container{
		width:100%;
		justify-content: space-between;
	}	
	.about-section{
		padding-bottom:7.5%;
		flex-direction: column;
	}
	.about-container, .blog-container{
		width:90%;
		margin: 0 auto;
		padding:0;
	}
	.about-container p {
		width:90%;
		margin:0 auto;
	}
	.post-container{
		max-width:275px;
	}
	.blog-post-container{
		max-width: 600px;
		justify-content: space-around;
	}
}

@media screen and (max-width: 768px){
	.post-container{

	}
	.footer-section > footer{
		width:85%;
		font-size:0.9em;
		flex-flow: column-reverse wrap;
	}

	.footer-section > footer i{
		font-size: 2.5em;
		padding:10% 15px;
	}
}
@media screen and (max-width:650px){
	button[type="button"]{
		margin: 2% 0;
	}

	.hidden{
		display: block;
	}
	.jumbotron{
		width:85%;
	}
	.jumbo-child{
		flex-flow: column wrap;
	}
	.jumbo-child > .flex-container{
		padding: 1%;
	}
	.arrow{
		width:50px;
		height:50px;
	}
	.arrow i{
		font-size:2.5rem;
	}
	.about-container p {
		width:70%;
	}

	.blog-post-container{
		flex-flow:column wrap;
	}
	.post-container{
		margin:5% auto;
	}

}
@media screen and (max-width: 768px){
	button[type="button"]{
		margin: 5% 0;

	}
	.about-section h1{
		letter-spacing: 3px;
	}
}
*/
@media screen and (max-width:1440px){
	button[type="button"], button[type="submit"] {
		padding: 1% 3%;
		font-size: 1vw;
		font-weight:400;
		margin: 1% 3%;
	}
	.logo-container > h2 { 
		font-size: 3vw;
	}
	.navbar-container > ul > li{
		font-size: 1.5vw;
	}
	.jumbo-child h1{
		font-size: 3vw;
	}
	.jumbo-child p{
		width:80%;
		font-size: 1.5vw;
		font-weight: 200;
	}

	.arrow{
		width: 5vw;
		height: 5vw;
	}
	.arrow i{
		margin-top: 11px;
		font-size: 3.5vw;
	}
}
@media screen and (max-width:1440px) and (max-height:600px){
	button[type="button"], button[type="submit"]{
		margin: 3%;
	}
}

@media screen and (max-width:1024px){
	button[type="button"], button[type="submit"] {
		padding: 1.5% 3%;
		font-size: 2vw;
		font-weight:400;
	}
	.logo-container > h2 { 
		font-size: 5vw;
	}
	.navbar-container > ul > li{
		font-size: 1.5vw;
	}
	.jumbo-child h1{
		font-size: 2vw;
	}
	.jumbo-child p{
		font-size:2vw;
		font-weight: 200;
	}

	.arrow{
		width: 6vw;
		height: 6vw;
	}
	.arrow i{
		margin-top: 6px;
		font-size: 5vw;
	}
}

@media screen and (max-width:1024px) and (max-height:700px){
	button[type="button"], button[type="submit"] {
		margin: 2%;
	}
}

/*@media screen and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}*/

@media screen and (max-width:425px){
	button[type="button"], button[type="submit"] {
		padding: 3.75% 7.5%;
		font-size: 3vw;
		font-weight:400;
	}
	.logo-container{
		font-size: 2vw;
	}
	.logo-container > h2 { 
		font-size: 5vw;
	}
	.navbar-container > ul > li{
		font-size: 3.5vw;
	}

	.jumbo-child h1{
		font-size:6vw;
	}
	.jumbo-child p{
		font-size:4vw;
		font-weight:200;
	}
	.arrow {
		width: 17.5vw;
		height: 17.5vw;
	}

	.arrow i{
		margin-top: 12px;
		font-size: 12vw;
	}
}

@media screen and (max-width:375px){
	.arrow{
		width: 20vw;
		height: 20vw;
	}

	.arrow i{
		margin-top:10px;
		font-size:15vw;
	}
}