/* Site Stylesheet
  1. Global Styles
  2. Typography Styles
  3. Structure Styles
  4. Module Styles
  5. Component Styles
  6. Page Styles
======================================== */
/* 
color library
	Monochromatic:
		#0D1C32 - dark navy blue
		#627FB0 - slate blue
		#F5F9FF - very light 
	Analougus Color Scheme:
		#60B3BD - teal


*/


/* 1. Global Styles
======================================== */

@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family:'Raleway', sans-serif;
	font-weight: 100;
	text-align: center;
}
html{scroll-behavior: smooth;}

body, html{height:100%; font-size:14px; background-color: hsl(60, 100%, 97%);}

/* 1. Typography Styles
======================================== */
	h1{
		color: hsl(60, 100%, 97%);
		font-family:'PT Sans Narrow', sans-serif; 
		text-transform: uppercase;
		font-weight: 600;
		line-height:1.618;
		
		font-size: 2rem;
		letter-spacing: 1px;
	}	
	p{
		color: hsl(60, 100%, 97%);
		font-family:'Raleway', sans-serif;
		font-weight: 300;
		font-size: 16px; 
	}
	button[type="button"], button[type="submit"] {
		background-color: hsl(355, 100%, 10%);
		border: none;
		border-radius: 3px;
		margin: 3%;
		padding: 2.5%;
		
		color:  hsl(60, 100%, 97%);
		text-transform: uppercase;
		font-size: 12px;
		font-weight:400;
		text-align: center;
		text-decoration:none;

		cursor: pointer;
	}
	
	a{
		display:block;
		text-decoration: none;
		color:inherit;
	}

	hr{
		border: 0;
		height: 2px;
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255,255,255,0.5), rgba(0,0,0,0));
	}
	.image-container > img { width:100%; height: 100%;}
	
	.flex-parent{
		width:100%;
		display:inline-flex;
	}
	.flex-container{
		justify-content: space-around;
	}
	

/* home section stylings */
	.main-section{
		height: 100%; 
		background: linear-gradient(
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5)
		), url("../images/adult-application-asian-733856.jpg");
		background-position: center;
  		background-repeat: no-repeat;
  		background-size: cover;
	}
	.home-container{
		height: 100%;
		justify-content: space-between;
		flex-direction: column;
		padding:0 5%;
	}
	/* header stylings */
		.header-container{
			width:100%;
			max-width:1440px;
			margin: 0 auto;
			flex-direction: column;
			color: hsl(60, 100%, 97%);
		}
		.logo-container{
			margin: 0 auto;
			text-transform: uppercase;
			font-size: 2px;
			justify-content: space-around;
		}
		.logo-container > h2 {
			font-family: 'Lato', sans-serif; 
			font-size: 36px;
			padding: 2% 0 4%;
			letter-spacing: 1px;
			color: inherit;
		}
		
		.navbar-container{
			width:100%;
			max-width: 1024px; 
			margin: 15px auto 0;
		}
		.navbar-container > ul{
			list-style: none;
		}
		.navbar-container > ul > li{
			width: 100%;
			font-size: 16px;
			font-weight: 700;
			line-height: 1.618;
			text-transform: uppercase;
			padding: 0%;
			transition: color 0.2s ease-in;
		}
		.navbar-container > ul li:hover{
			color:#D1D1C5;
			
		}
		.navbar-container > hr{
			margin-top: 1.5%;
		}
		/* Jumbotron's styling */
			.jumbotron{
				width:100%;
				max-width:1600px;
				margin: 0 auto;
			}
			/* Jumbotron's child styling */
				.jumbo-child{
					justify-content: space-around;
					color: hsl(60, 100%, 97%);
					text-align: center;
				}

				.jumbo-child h1, .jumbo-child p{
					padding: 2%;
				}
				.jumbo-child h1{
					font-family:'Helvetica';
				}
				.jumbo-child p{
					width:100%;
					max-width: 768px;
					margin:0 auto;
					letter-spacing: 0.1em;
					line-height:1.618;
					text-align:center;

					/*display: none;*/
				}
				.jumbo-child button {
					background:  hsl(60, 100%, 97%);
					color: hsl(355, 100%, 10%);
					transition: all 0.25s ease;
				}
				.jumbo-child button:hover{
					background-color:  hsl(355, 100%, 10%);
					color: hsl(60, 100%, 97%);
				}
			/* Arrow styling */
				.arrow-container{ 
					margin: 2% auto; 
				}
				.arrow {
					width: 70px;
					height: 70px;
					margin: 0 auto 10px;
					border-radius: 100px;
					background-color: hsl(60, 100%, 97%);
					box-shadow: 
						0 3px 6px rgba(0, 0, 0, 0.36),
						0 3px 6px rgba(0, 0, 0, 0.36),
						0 3px 6px rgba(0, 0, 0, 0.36),
						0 3px 6px rgba(0, 0, 0, 0.36);


					  animation: bounce 2s infinite;
				}					
				@keyframes bounce {
					0%, 20%, 50%, 80%, 100% {
						transform: translateY(0);
					}
					40% {
						transform: translateY(-10px);
					}
					60% {
						transform: translateY(-2px);
					}
				}

				.arrow i{
					margin-top: 16px;
					font-size: 42px;
				}



/* About section stylings */
	.about-section{
		width:100%;
		background:hsl(355, 100%, 10%);
		margin:0 auto;
	}
	.about-container{
		margin: 0 auto;
		padding: 5% 0;
		width: 80%;
		max-width:1440px;
		
		color: hsl(60, 22%, 88%);
	}
	.about-container > .flex-container {
		width:40%;
	}

	.about-container .image-container{
		width:100%;
		max-width:250px;
	}
	.about-container img{
		border-radius:100%;
	}
	.about-container > .summary-container{
		width:60%;
	}

	p{
		font-weight:normal;
		text-align:justify;
		line-height: 1.618;
		margin:5% auto;
	}
/* Right Container *//*PEN STYLES*/
.blog-section{
	width:100%;
}
.blog-container{
	width:80%;
	padding: 5% 0;
	margin: 0 auto;
}
.blog-container > header > h1{
	color: hsl(0, 0%, 22%);
}
.blog-container > .flex-parent{
	margin: 5% auto 0;
	justify-content: space-evenly;
}
.card-container{
	width:30%;
	min-height:400px;
}
.blog-card{
	background:#fff;
	margin: 0 5%;
	flex-direction:column;
	box-shadow:
		2.5px 2.5px 15px #EEE,
		-2.5px -2.5px 15px #EEE,
		2.5px -2.5px 15px #EEE,
		-2.5px 2.5px 15px #EEE;
}

.blog-content{
	padding: 3% 3% 5%;
}
.blog-content > h1{
	margin: 2% 0 2%;
	text-align: left;
	font-weight: 600;
	color:#666;
}
.blog-content > p{
	font-weight: 200;
	text-align: left;
	font-size:1em;
	margin: 0 0 2%;
	color:#333;
}
.blog-content > p.description{
	margin: 1% 0 2%;
	max-height: 110px;
	min-height:110px;
	line-height: 1.3;
	overflow-wrap: break-word;
	overflow: hidden;
	font-weight:400;
}
.blog-content > p.read-more{
	text-align: right;
	/*margin-top:12%;*/
	float: bottom;
	font-weight: 200;
	transition: all ease 0.1s;
}

p.read-more:hover{
	font-weight:400;
}

/* Contact Form */
	.contact-section{
		width:100%;
		background: hsl(355, 100%, 10%);
	}
	.contact-container{
		padding:5% 0;
		width: 50%;
		margin: 0 auto;
	}

	.contact-container > .contact-form {
		max-width:500px;
		min-height: 250px;
		margin-top: 5%;
		justify-content: center;
		flex-direction:column;
	}
	.contact-form > .flex-parent{
		padding: 5% 0 10%;
	}

	.contact-form > .contact-btn {
		padding-bottom: 0;
	}
	.contact-form .form-field{
		position:relative;
		width:50%;
		margin: 0 5%;
	}
	.contact-form .col-100{
		width:100%;
	}
	.form-field > input {
		width: 100%;
		height: 36px;
		border: none;
		border-bottom: 2px solid #8C8C83;
		font-size: 18px;
		line-height: 26px;
		background: transparent;
		font-weight: 400;
		text-align: left;
		color: hsl(60, 100%, 97%);
		transition: 0.2s ease border-bottom;
	}
	.col-100 > input {
		width: 100%;
	}
	.contact-form input:focus{
		border-bottom: 3px solid #fffff0;
		outline: none;
	}
	.form-field label{
		position: absolute;
			left:5px;
			bottom: 8px;
		font-family: Lato, serif;
		font-size: 18px;
		line-height: 26px;
		font-weight: 400;
		color: #888;
		cursor: text;  
		pointer-events:none;

		transition: 0.2s ease all;
	}
	/*.contact-form input:focus ~ label {
		top:20px;
	}*/
	.form-field > input:focus ~ label, 
	.form-field > input:not(:placeholder-shown) ~ label/*, 
	.form-field > input:required ~ label*/{
	  top:-18px;
	  left:0;
	  font-size:14px;
	  color:#B8B88E;
	}

	.form-field button{
		width:100%;
		height:100%;
		margin:0;
		border-radius: 10px;
		background:  hsl(60, 100%, 97%);
		color: hsl(355, 100%, 10%);
		transition: all ease 0.25s;
	} 
	.form-field button:hover{
		background:#E8E8DB;
		color: #2F0004;
	}
/* Footer section stylings */
	.footer-section{
		background:hsl(355, 100%, 10%);
		color:#8C8C83;
	}
	.footer-section > hr{
		width:;
		display: block;		
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(93,93,93,0.5), rgba(0,0,0,0));
		margin: 0 auto 1%;
	}

	.footer-container{
		width:100%;
		max-width:1024px;
		margin: 0 auto;
		padding: 2% 0;
	}


	.footer-container > footer{
		font-size:1.1em;
		margin: 0 auto;
		
		display:flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center;
	}

	.footer-container p{
		margin: 0;
	}

	.icons-container{
		width: auto;
		justify-content: flex-end;
		align-items:center;
	}
	
	.icons-container i{
		font-size:1.5em;
		padding:0 10px;
		color:;
		transition: color 0.3s linear;
	}
	.icons-container i:hover{
		color:#BBB;
	}


@media screen and (max-width:1440px){
	
}

@media screen and (max-width: 1200px){
	.blog-container{
		width:90%;
	}
}

@media screen and (max-width:1024px){
	.summary-container{
		font-size:1.3vw;
	}

	.blog-container > .flex-parent {
		flex-direction: column;
		justify-content:space-between;
	}
	.card-container{
		width:100%;
		margin: 2% auto;
		max-height: 250px;
		min-height:0;
	}

	.blog-card{
		margin: 0;
		max-height:242px;
		flex-direction: row;
	}
	.blog-card > .image-container{
		width:40%;
	}
	/*.blog-card > .image-container > img{
		width:200%;
	}*/
	.blog-content{
		width:60%;
		background:white;

		padding: 1% 3%;
	}
	.blog-content > h1{
		margin: 0;
		line-height: 1.314;
	}
	.blog-content > p{
		margin: 0;
		font-size: 1.3vw;
	}
	.blog-content > p.description{
		max-width:initial;
		max-height: initial;
		min-height: initial;
		font-size:1.3vw;
		line-height:1.618vw;
		margin: 1% 0;
		min-height:75px;
	}
	.blog-content > p.read-more{
		margin-right:5px;
		font-size: 1.3vw;
		
	}
}

@media screen and (max-width: 900px){

	.about-container{
		flex-direction: column;
	}
	.about-container > .flex-container{
		margin: 0 auto;
		width:90%;
	}

	.summary-container{
		padding: 5% 0;
	}

	.about-description{
		line-height:1.428;
		color: hsl(60, 22%, 88%);
	}

	.about-container .image-container{
		margin: 0 auto;
	}
}

@media screen and (max-width: 768px){
	
}
@media screen and (max-width:650px){
	
}
@media screen and (max-width: 768px){
	
}

@media screen and (max-width:600px){
	.blog-card{
		width:80%;
	}
	.blog-card > .image-container {
		display:none;
	}
	.blog-card > .blog-content{
		width:90%;
		margin: 0 auto;
	}
	.jumbo-child h1{
		font-size:24px;
	}
	.jumbo-child p {
		font-size:12px;
	}
	.arrow{
		width:60px;
		height:60px;
	}
	.arrow i{
		margin-top:12px;
		font-size:36px;
	}
	.contact-container {
		width:80%;
	}

	.footer-container > .flex-parent{
		flex-direction: column-reverse;
	}
	.footer-container .flex-parent p{
		font-size:12px;
	}
	.icons-container{
		padding: 2% 0;
	}
	.icons-container i {
		font-size: 22px;
	}
}